<template name="addPatientMedPlanModal">
    <div class="modal fade" id="addMedPlanModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Medikationsplan hinzufügen</h4>
                </div>
                <div class="modal-body">
                    <!-- <div class="row"> -->
                    <!-- <div class="col-md-6"> -->
                    <label class="label-space" for="ActiveSubstance">Wirkstoff:</label>
                    <br>
                    <input class="input-size" type="text" name="ActiveSubstance" placeholder="Wirkstoff eintragen">
                    <br>
                    <label class="label-space" for="name">Handelsname:</label>
                    <br>
                    <input class="input-size" type="text" name="TradingName" placeholder="Handelsname eintragen">
                    <br>
                    <label class="label-space" for="name">Dosis:</label>
                    <br>
                    <input class="input-size" type="text" name="Dose" placeholder="Dosis eintragen">
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="label-space" for="name">Form:</label>
                        <select name="Form">
                            <option selected="selected">Tablette</option>
                            <option>Tropfen</option>
                            <option>Spray</option>
                            <option>Pulver</option>
                            <option>Salbe</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-space" for="name">Morgens:</label>
                        <select name="QuantityMorning">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-space" for="name">Mittags:</label>
                        <select name="QuantityMidday">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-space" for="name">Abends:</label>
                        <select name="QuantityEvening">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option selected></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-space" for="name">z. Nacht:</label>
                        <select name="QuantityNight">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option selected></option>
                        </select>
                    </div>
                    <label class="label-space" for="name">Einnahmehinweis:</label>
                    <br>
                    <input class="input-size" type="text" name="TakingNote" placeholder="Einnahmehinweis eintragen">
                    <br>
                    <label class="label-space" for="name">Grund:</label>
                    <br>
                    <input class="input-size" type="text" name="Reason" placeholder="Grund eintragen">
                    <!-- <label for="name">Anwenden bis:</label> -->
                    <!-- <br>
                        <label for="name">Hausarzt:</label>
                        <br>
                        <label for="name">Facharzt:</label>
                        <br>
                        <label for="name">Selbstmedikation:</label> -->
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->

                    <!-- <br>

                        <br>

                        <br>

                        <br>

                        <br>

                        <br>

                        <br>

                        <br>

                        <br>

                        <br>
                        <input type="date" name="UntilTaking" placeholder="Anwenden bis eintragen">
                        <br>
                        <input type="text" name="HouseDoctor" placeholder="Hausarzt eintragen">
                        <br>
                        <input type="text" name="SpecialDoctor" placeholder="Facharzt eintragen">
                        <br>
                        <input type="text" name="SelfMedication" placeholder="Selbstmedikation eintragen"> -->
                    <!-- </div> -->

                    <!-- </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="save"><span
                            class="glyphicon glyphicon-plus"></span> Hinzufügen
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><span
                            class="glyphicon glyphicon-ban-circle"></span> Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
