<template name="deleteMedModal">
  <div class="modal fade" id="deleteMedModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Medikament löschen?</h4>
        </div>
        <div class="modal-body">
          <p>
            Wollen Sie das Medikament wirklich löschen?
          </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="deleteMed"><span class="glyphicon glyphicon-remove"></span> Löschen</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Abbrechen</button>
        </div>
      </div>
    </div>
  </div>
</template>
