<template name="legende">
    {{#if patient}}
    <div class="legend">
        <h5>Legende: </h5>
        <div class="circle morning"><i class="fa fa-coffee"></i></div><span> Morgens</span>
        <div class="circle midday"><i class="fa fa-sun-o"></i></div><span> Mittags</span>
        <div class="circle evening"><i class="fa fa-moon-o"></i></div><span> Abends</span>
        <div class="circle night"><i class="fa fa-star"></i></div><span> zur Nacht</span>
        <div class="circle status-grey"><i class="fa fa-ban"></i></div><span> Keine Medikamente</span>
    </div>
    {{/if}}

</template>